MONGO_URI=mongodb+srv://gs1771760_db_user:Harsh0987@_@cluster0.aiqwb64.mongodb.net/?appName=Cluster0
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here

# SMTP Config (Nodemailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=hello@shreeganpati.com
PORT=5000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_USER=
EMAIL_PASS=
Harsh0987@_